.login-screen {
  background-color: #56baed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    background-color: #fff;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    border-radius: 9px;
    width: 90%;
    max-width: 380px;
    box-sizing: border-box;
    padding: 25px 25px;

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px;
    }
  }

  .remember {
    color: #000;

    .checkmark {
      background-color: transparent;
      box-sizing: border-box;
      border: 2px solid #39ace7;
      border-radius: 2px;

      &:after {
        border-color: #179fe4;
        left: 5px;
        top: 1px;
      }
    }
  }

  
  .field-wrapper {
      display: flex;
      margin: 20px 0;
    
      &.with-icon {
        input {
          border-radius: 5px 0 0 5px;
        }
    
        .icon {
          flex-basis: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    
      input {
        flex: 1;
        border: none;
        box-sizing: border-box;
        border-radius: 5px;
        font-family: iranyekan;
    
        &:focus {
          outline: none;
        }
      }
    }
    
    .field-checkbox {
      display: block;
      position: relative;
      padding-right: 25px;
      margin: 20px 0;
      cursor: pointer;
      font-size: 12px;
      color: #333;
      overflow: hidden;
    
      // &:hover input ~ .checkmark {
      //   background-color: #ccc;
      // }
    
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    
        &:checked {
          & ~ .checkmark {
            // background-color: #2196f3;
          }
    
          & ~ .checkmark:after {
            display: block;
          }
        }
      }
    
      .checkmark {
        position: absolute;
        top: 0;
        right:  0;
        height: 18px;
        width: 18px;
        border-radius: 3px;
        background-color: #fff;
    
        &:after {
          content: "";
          position: absolute;
          display: none;
          left: 5px;
          top: 1px;
          width: 5px;
          height: 10px;
          border: solid #2196f3;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
}
