.field-wrapper {
  display: flex;
  align-items: stretch;
  margin: 20px 0;

  &.field-100 {
    &.label-sm {
      & > label {
        flex-basis: 75px;
        display: inline-block;
        align-self: center;
      }
    }
    & > label {
      flex-basis: 150px;
      min-width: 75px;
      display: inline-block;
      align-self: center;
      font-size: .875rem;
    }
    
    & > div {
      flex: 1;
      
      & > input {
        min-width: 10px;
        width: 100%;
        font-size: .875rem;
      }
    }
  }
}