.field-wrapper {
  display: flex;
  margin: 20px 0;

  &.with-icon {
    input {
      border-radius: 5px 0 0 5px;
    }

    .icon {
      flex-basis: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  input {
    flex: 1;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: iranyekan;

    &:focus {
      outline: none;
    }
  }
}

.field-checkbox {
  display: block;
  position: relative;
  padding-right: 25px;
  margin: 20px 0;
  cursor: pointer;
  font-size: 12px;
  color: #fff;
  overflow: hidden;

  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      & ~ .checkmark {
        background-color: #2196f3;
      }

      & ~ .checkmark:after {
        display: block;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    right:  0;
    height: 18px;
    width: 18px;
    border-radius: 3px;
    background-color: #eee;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 7px;
      top: 3px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
