.sidebar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 899;
  display: none;

  &.active {
    display: block;
  }
}

.sidebar {
  position: absolute;
  top: 0;
  right: -100%;
  width: calc(100vw - 25px);
  max-width: 250px;
  height: 100vh;
  background-color: #32323a;
  font-size: 12px;
  z-index: 900;
  transition: all 0.7s;

  &.active {
    right: 0;
  }

  .close {
    position: absolute;
    top: 10px;
    left: -15px;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: #32323a;
    padding: 8px 9px;
    border-radius: 50%;

    cursor: pointer;
  }

  ul {
    list-style: none;
    padding: 0;
    color: #eee;
  }

  ul.nav {
    margin-top: 30px;

    & > li {
      padding: 17px 40px 17px 30px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.03);
      position: relative;

      &.active {
        & > .arrow {
          transform: rotate(-90deg);
        }

        & > ul.nav-dropdown {
          max-height: 100px;
        }
      }

      & > .icon {
        margin-left: 7px;
        font-size: 14px;
        color: #ccc;
      }

      & > a {
        vertical-align: text-top;
        color: #aeb2b7;
        transition: all 0.3s;
        font-weight: bold;
        padding: 7px 0;

        &:hover {
          color: #fff;
        }
      }

      & > .arrow {
        position: absolute;
        left: 30px;
        top: 25px;
        font-size: 11px;
        transition: all .4s;
      }

      & > ul.nav-dropdown {
        overflow: hidden;
        padding-right: 22px;
        padding-top: 5px;
        max-height: 0;
        transition: all .4s;

        & > li {
          padding: 5px 0;

          & > a {
            color: #aeb2b7;

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
