.tabular {
  background-color: #f5f5f5;

  button {
    font-family: iranyekan;
    font-weight: bold;
  }
}

.tabular-swipeable > div > div {
  direction: rtl;
}

.tabular-content {
  font-family: iranyekan;
}