@import "partials/fonts";
@import "partials/colors";
@import "partials/utilities";
@import "partials/variables";
@import "partials/mixins";

@import "partials/buttons";
@import "partials/forms";
@import "partials/dialog";
@import "partials/spinner";
@import "partials/header";
@import "partials/sidebar";
@import "partials/sidemenu";
@import "partials/tabular";
@import "partials/list-with-checkbox-and-edit";

@import "partials/screens/dashboard";
@import "partials/screens/login";
@import "partials/screens/user-setting";
@import "partials/screens/periods";

:root {
  font-size: 16px;

  @include bp-down(lg) {
    font-size: 15.5px;
  }

  @include bp-down(md) {
    font-size: 15px;
  }

  @include bp-down(sm) {
    font-size: 14.5px;
  }
}

body {
  margin: 0;
  direction: rtl;
  font-family: iranyekan;
  background-color: #eee;

  &.disable-scroll {
    overflow: hidden;
  }

  .container {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0px 15px;
  }

  .card {
    background-color: #fff;
    box-shadow: 0 1px 2px #ccc;
    width: 95%;
    margin: 10px auto;
    // padding: 10px;
  }

  .page-wrapper {
    font-family: iranyekan;
    display: flex;
    flex-wrap: wrap;

    .page-content {
      flex: 1;
    }
  }

  .pagination {
    ul {
      justify-content: center;

      li button {
        font-family: iranyekan;
      }
    }
  }

  .DatePicker {
    z-index: auto;

    & > input {
      padding: 10px;
      border-radius: 0.28571429rem;
      text-align: right;
    }

    .DatePicker__calendarContainer,
    .DatePicker__calendarArrow {
      z-index: 100;
    }
  }

  .modal {
    [class*="MuiPaper-root"] {
      text-align: right !important;
      overflow: visible;
    }

    .modal-title {
      padding: 10px 20px;

      h2 {
        font-size: 1rem;
        font-family: iranyekan;
      }
    }

    .modal-content {
      overflow: visible;
    }

    .actions {
      button {
        margin-bottom: 0.5rem !important;
        @include bp-down(sm) {
          width: 100%;
          margin-left: 0 !important;
        }
      }
    }

    .modal-actions {
      flex-wrap: wrap;

      button {
        margin-bottom: 0.5rem !important;
        @include bp-down(sm) {
          width: 100%;
          margin-left: 0 !important;
        }
      }
    }
  }

  @include bp-down(sm) {
    .orderby,
    .order {
      min-width: 100% !important;
    }
  }
}

.WindowedSelect {
  div[class$="menu"] {
    font-size: 0.85rem;
  }
}
