@import "partials/fonts";
@import "partials/colors";
@import "partials/utilities";
@import "partials/buttons";
@import "partials/forms";
@import "partials/dialog";
@import "partials/spinner";
@import "partials/header";
@import "partials/sidebar";

@import "partials/screens/login";
@import "partials/screens/user-setting";

body {
  margin: 0;
  direction: rtl;
  font-family: iranyekan;
  background-color: #eee;

  .field-wrapper {
    display: flex;
    align-items: stretch;
    
    &.field-100 {
      label {
        flex-basis: 150px;
        display: inline-block;
        align-self: center;
      }

      div{
        flex: 1;
      }
    }
  }

  .ui {
    font-family: iranyekan !important;

    input {
      text-align: right !important;
      direction: rtl !important;
      font-family: iranyekan !important;
    }
  }

  .card {
    background-color: #fff;
    box-shadow: 0 1px 2px #ccc;
    width: 95%;
    margin: 10px auto;
    padding: 10px;
  }

  
}
